includes:
    - ./phpstan-baseline.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    level: max
    paths:
        - src
        - tests
