<div class="sticky">
    <h2 class="text-2xl italic pb-8">Categories</h2>
    <ol>
        <li>
            <a href="#" class="text-blue-600 visited:text-purple-600">test</a>
        </li>
    </ol>
</div>