{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h3 class="text-xl">{{ category.name }}</h3>
    <div id="articles-list">
        {% include 'article/list.html.twig' with { articles: category.articles } %}
    </div>
{% endblock %}
