{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1 class="article-title">{{ article.title }}</h1>
    <div id="article-content">
        {{ article.content|raw }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
